# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/.idea.Technical-hw1.iml
/contentModel.xml
/projectSettingsUpdater.xml
/modules.xml
# Datasource local storage ignored files
/../../../../../../:\GitExperiment\Technical-hw1\.idea\.idea.Technical-hw1.dir\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
